= simple_form_for @user do |f|
  = f.input :email, required: false, label: false, placeholder: "Email"
  = f.input :password, required: false, label: false, placeholder: "Password"
  = f.input :password_confirmation, label: false, required: false, placeholder: "Password confirmation"
  = f.submit 'Submit', class: "btn btn-info"
