!!!
%html
  %head
    %title OnlineBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .block_head
        = render 'layouts/header'
      = render 'layouts/display_user'
    .content
      = render 'layouts/flash'
      = yield


